<form autocomplete="off" onsubmit="event.preventDefault()">
    

    <style>
        table, th, td {
          border: 1px solid black;
        }
        canvas {
            border: 2px solid rgb(151, 149, 149);
        }
    </style>

    </head>
    <h2>Coordinates</h2>
    <canvas id="stage" height="250" width="400"></canvas>
    <div class="form-group options">
        <body>     
            <table style="float:right;text-align:center;width:100%">
            <tr>
                <th style="width:16.6%">Point</th>
                <th style="width:16.6%">X</th>
                <th style="width:16.6%">Y</th> 
                <th style="width:16.6%">Average Brightness</th>
                <th style="width:16.6%">Maximum Brightness</th>
                <th style="width:16.6%">Area</th>
            </tr>
            {{#each iteration as |i|}}
                <tr>
                    <td id="iteration{{i}}" style="color:grey">{{i}}</td>
                    <td id="cal_x{{i}}" style="color:grey">0</td>
                    <td id="cal_y{{i}}" style="color:grey">0</td>
                    <td id="cal_ab{{i}}" style="color:grey">0</td>
                    <td id="cal_mb{{i}}" style="color:grey">0</td>
                    <td id="cal_a{{i}}" style="color:grey">0</td>
                </tr>
            {{/each}}
            </table>     
	</div>

    <h2>{{localize "MaterialPlane.CalSett.Settings"}}</h2>

    <h3><b>Exposure</b></h3> 
    <p class="notes" style="display:{{diyHW}}">
        'Exposure' sets the length of time the sensor will measure, higher values result in higher brightness.
    </p>
    <p class="notes">
        'Frame Period' is the time between each measurement. Lower values increase responsiveness, but reduces the maximum exposure time (max exposure time = Frame Period - 2.7ms).
    </p>
    <p class="notes">
        'Gain' is a brightness multiplier. Higher values will increase brightness, but also noise.
    </p>
    <div style="display:flex; width:100%; display:{{diyHW}}">
        <label style="width:50%">Exposure (ms)</label>
        <input type="range" style="width:40%; margin-right:0.5%" min="2" max="1300" value="300" class="slider" id="exposure">
        <input type="text" style="width:10%" id="exposureNumber" value="3">
    </div>
    
    <div style="display:flex; width:100%">
        <label style="width:50%">Frame Period (ms)</label>
        <input type="range" style="width:40%; margin-right:0.5%" min="50" max="1000" value="25" class="slider" id="framePeriod">
        <input type="text" style="width:10%" id="framePeriodNumber" value="25">
    </div>
    <div style="display:flex; width:100%">
        <label style="width:50%">Gain</label>
        <input type="range" style="width:40%; margin-right:0.5%" min="10" max="80" value="20" class="slider" id="gain">
        <input type="text" style="width:10%" id="gainNumber" value="2">
    </div>

    <h3><b>Noise Filter</b></h3> 
    <p class="notes" style="display:{{diyHW}}">
        Measured IR spots will be considered either as noise or part of a point. Each IR spot with maximum brightness higher than 'Minimum Brightness' (that is not directly neighboring other spots with high enough brightness) are considered individual points.<br>
        Spots with lower brightness, but higher than 'Minimum Brightness' - 'Noise Treshold' will be considered as part of the nearest point (if there are any). Otherwise they will be considered noise and ignored.<br>
        'Average Count' sets the amount of measurements the sensor takes an average. Higher values decrease noise, but also decrease responsiveness.
    </p>
    <p class="notes" style="display:{{betaHW}}">
        Measured IR spots with lower brightness than 'Minimum Brightness' will be ignored.<br>
        'Average Count' sets the amount of measurements the sensor takes an average. Higher values decrease noise, but also decrease responsiveness.
    </p>
    <div style="display:flex; width:100%">
        <label style="width:50%">Minimum Brightness</label>
        <input type="range" style="width:40%; margin-right:0.5%" min="0" max="255" value="127" class="slider" id="brightness">
        <input type="text" style="width:10%" id="brightnessNumber" value="127">
    </div>
    <div style="display:flex; width:100%; display:{{diyHW}}">
        <label style="width:50%">Noise Treshold</label>
        <input type="range" style="width:40%; margin-right:0.5%" min="0" max="255" value="20" class="slider" id="noise">
        <input type="text" style="width:10%" id="noiseNumber" value="20">
    </div>
    <div style="display:flex; width:100%;">
        <label style="width:50%">Average Count</label>
        <input type="range" style="width:40%; margin-right:0.5%" min="0" max="255" value="10" class="slider" id="average">
        <input type="text" style="width:10%" id="averageNumber" value="20">
    </div>
    <div style="display:{{diyHW}}">
        <h3><b>Area Filter</b></h3> 
        <p class="notes">
            The area of each point is the amount of pixels that are considered part of the point. Areas smaller than 'Minimum Area' or bigger than 'Maximum Area' are ignored.
        </p>
        <div style="display:flex; width:100%">
            <label style="width:50%">Minimum Area</label>
            <input type="range" style="width:40%; margin-right:0.5%" min="0" max="255" value="127" class="slider" id="minArea">
            <input type="text" style="width:10%" id="minAreaNumber" value="127">
        </div>
        <div style="display:flex; width:100%">
            <label style="width:50%">Maximum Area</label>
            <input type="range" style="width:40%; margin-right:0.5%" min="0" max="255" value="127" class="slider" id="maxArea">
            <input type="text" style="width:10%" id="maxAreaNumber" value="127">
        </div>
    </div>  
    <h3><b>Transform</b></h3>  
    <p class="notes">
        'Mirror X' and 'Mirror Y' will mirror the point's location in X and Y direction. 'Rotate' will rotate everything 90 degrees (X becomes Y and Y becomes X).
    </p>
    <div class="form-group options">
        <label>Mirror X</label>
        <input type="checkbox" id="mirX">
    </div>
    <div class="form-group options">
        <label>Mirror Y</label>
        <input type="checkbox" id="mirY">
    </div>
    <div class="form-group options">
        <label>Rotate</label>
        <input type="checkbox" id="rot">
    </div>

    <h3><b>Calibration</b></h3>  
    <p class="notes">
        Calibration and offset are enabled when the 'Calibration Enabled' and 'Offset Enabled' boxes are checked.<br>
        'Calibration Method' can be set to either 'Single Point' calibration (calibrate each calibration point separately) or 'Multipoint' calibration (calibrate all calibration points at the same time).<br>
        The 'Calibrate' button will start the calibration procedure.
    </p>
    <div class="form-group options">
        <label>Calibration Enabled</label>
        <input type="checkbox" id="calEn">
    </div>
    <div class="form-group options">
        <label>Offset Enabled</label>
        <input type="checkbox" id="offsetEn">
    </div>

    <div class="form-group">
        <label for="CalibrationMethod">Calibration Method</label>
        <select name="calMethod" id="action">
            <option value="SinglePoint">{{localize "MaterialPlane.CalSett.CalMethod0"}}</option>
            <option value="MultiPoint">{{localize "MaterialPlane.CalSett.CalMethod1"}}</option>
            <option value="Offset">{{localize "MaterialPlane.CalSett.CalMethod2"}}</option>
        </select> 

        <button name="calBtn" type="button">
            <i></i> {{localize "MaterialPlane.CalSett.CalBtn"}}
        </button>
    </div>
</form>

